

#id1 {
    text-align: center;
    margin-top: 5px;
    color: rgb(247, 10, 10);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    background-color: black;
  }
  body {
    padding: 0px;
    margin: 0px;
    font-style: italic;
    /* background-color: rgb(138, 148, 83); */
    /* background-image: url('login.jpg');
          background-size: cover; */
    background-color: rgb(12, 12, 12);
  }
  input[type="text"] {
    font-weight: bold;
  }
  input[type="email"] {
    font-weight: bold;
  }
  input[type="password"] {
    font-weight: bold;
  }
  input[type="date"] {
    font-weight: bold;
    font-style: italic;
  }
  .id44 {
    text-decoration: underline;
    color: rgb(2, 2, 15);
    background-color: rgb(53, 107, 133);
    padding: 10px;
    border-bottom: solid 4px palegoldenrod;
    border-left: solid 4px palegreen;
    border-right: solid 4px paleturquoise;
    border-top: solid 4px palevioletred;
    text-align: center;
  }
  * {
    padding: 0px;
    margin: 0px;
  }
  #im {
    border-radius: 25px;
    margin-left: 49%;
    margin-top: 1%;
    /* display: flex;
          justify-content: space-around; */
  }
  .form-class {
    color: rgb(216, 169, 40);
    font-size: 20px;
  }
  